<!doctype html>
 <html lang="en">
 <head>
   <meta charset="utf-8">
   <title>My AngularJS AngularJS + RequireJS App</title>
   <link rel="stylesheet" href="app/components/bootstrap/dist/css/bootstrap.css"/>
 </head>
 <body>
   <ul class="menu">
     <li><a href="#/view1">view1</a></li>
     <li><a href="#/view2">view2</a></li>
   </ul>
 
   <div data-ng-view></div>
 
   <div>Angular Require seed app: v<span app-version></span></div>

   <script src="app/components/requirejs/require.js" data-main="app/main.js"></script>
 </body>
</html>

<!-- <!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS with Facebook react</title>

    <link rel="stylesheet" href="app/components/bootstrap/dist/css/bootstrap.css"/>

    <style>
        .user-list .user-item {
            border-left: none;
            border-right: none;
        }
        .user-list .user-item:last-child {
            border-bottom: none;
        }
    </style>

    

</head>
<body ng-app="app">
    <div class="container" ng-controller="MainCtrl as main">

        <div class="page-header">
            <h1>A experiment with AngularJS and ReactJS</h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Just AngularJS</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="user in users" ng-click="main.getUser(user)">
                    {{ user.firstName }} - {{ user.lastName }}
                </li>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">AngularJS with ReactJS</div>
            <div user-list users="users" user-selected="main.getUser(user)"></div>
        </div>
    </div>
    <script src="app/components/requirejs/require.js" data-main="app/main.js"></script>
</body>
</html> -->